{% extends "base.html" %}

{% block title %} Bienvenido {% endblock %}

{% block content %}
    <h1>Hola</h1>
    <img src="/static/images.jpg">
    <p>{{message}}</p>
    <h2>Flash Cards</h2>
    <ul>
        {% for card in cards %}
            <li>
                <a href="{{ url_for('card_view', index=loop.index0) }}">
                    {{card.question}}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{url_for('add_card') }}" >Add a Card</a>
{% endblock %}